<footer class="page-footer blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="offset-md-1 col-md-3 col-sm-4 col-12 mb-md-0 mb-3">
            <h5 class="text-uppercase">General</h5>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['home']">Home</a>
              </li>
              <li>
                <a [routerLink]="['todo']">Contact</a>
              </li>
              <li>
                <a [routerLink]="['todo']">Privacy Policy</a>
              </li>
              <li>
                <a [routerLink]="['todo']">Support & FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-12 mb-md-0 mb-3">
            <h5 class="text-uppercase">LOL</h5>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['todo']">LOL Home</a>
              </li>
              <li>
                <a [routerLink]="['lol','players']">LOL Players</a>
              </li>
              <li>
                <a [routerLink]="['lol','teams']">LOL Teams</a>
              </li>
              <li>
                <a [routerLink]="['/todo']">LOL Tournaments</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-12 mb-md-0 mb-3">
            <h5 class="text-uppercase">OW</h5>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['todo']">OW Home</a>
              </li>
              <li>
                <a [routerLink]="['ow','players']">OW Players</a>
              </li>
              <li>
                <a [routerLink]="['ow','teams']">OW Teams</a>
              </li>
              <li>
                <a [routerLink]="['todo']">OW Tournaments</a>
              </li>
            </ul>
          </div>
          <div class="col-md-1 col-sm-12 col-12 mb-md-0 mb-3">
            LOGOS
          </div>
      </div>
    </div>
    <div class="blue-dark text-center py-3">© {{ year }} {{ nombre }} </div>
  </footer>
